name: ML-CI-CD-Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: worker-scoring
      IMAGE_TAG: latest
      DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/worker-scoring:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Train model
        run: python -m src.model

      - name: API import check
        run: python -c "from src.api import app; print('API loaded successfully')"

      - name: Run tests
        run: |
          export PYTHONPATH=$PWD
          python -m pytest -v

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME:$IMAGE_TAG .

      # فقط وقتی push روی main باشد اجرا شود
      - name: Docker login
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          docker tag $IMAGE_NAME:$IMAGE_TAG $DOCKER_IMAGE
          docker push $DOCKER_IMAGE
